<%- include('partials/header') %>

<div class="box">
    <h1 class="heading">Register</h1>

    <div class="box-2">
        <!-- Makes POST request to /register route -->
        <form action="/register" method="POST">
              <input type="text" class="form-control" name="name" placeholder="Name" required>
              <br />
              <input type="email" class="form-control" name="username" placeholder="Email" required>
              <br />
              <input type="password" class="form-control" name="password" placeholder="Password" required>
              <br />
            <button type="submit" class="btn btn-dark btn-block btn-lg">Sign Up</button>
          </form>
    </div>
</div>

<%- include('partials/footer') %>